@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
/* são configurações comuns que teram entre eles*/
html, body{ 
    min-height: 100vh; /*tamanho minimo do corpo*/
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
pre{
    white-space: pre-line;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(51, 47, 47);
    color: white;
}
section.imagem > pre{ /*para criar a caixa e do tipo transparente*/
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}