@charset "UTF-8";

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(179, 179, 179);
    margin: 0px;
}
header{
    background-color: rgb(3, 148, 148);
    padding: 10px;
    text-align: center;
    margin: 5px;
}
main{
    background-color: rgb(3, 148, 148);
    padding: 10px;
    margin: 5px;
}
footer{
    background-color: black;
    color: white;
    padding: 4px;
    text-align: center;
}
footer > p{
    margin: 0;
}
article{
    background-color: rgb(231, 227, 227);
    padding: 10px;
}
article > h2{
    text-align: center;
}
article > aside{
    background-color: darkgray;
}