@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Rubik+Bubbles&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/d10Reforco/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --cor0:#a7e6a7bd;
    --cor1:#17C21D;
    --cor2:#118B16;
    --cor3:#0E7311;
    --cor4:#1C421D;

    --font-padrão: Verdana, Arial, Helvetica, sans-serif;
    --font-destaque: 'Rubik Bubbles','Anton','Bebas Neue','cursiva';
    --font-android: 'Android','cursive';
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--font-padrão);
}
a.externo::after{
    content: '\00A0\1F517';
}
header{
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}
header > p{
    color: white;
    font-family: var(--font-padrão);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}
nav{
    background-color: var(--cor4) ;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);
}
nav > a{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor4);
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.308);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    color: var(--cor3);
    font-family: var(--font-android);
    font-size: 1.8em;
    font-weight: normal;
}
main h2{
    color: var(--cor4);
    font-family: var(--font-android);
    background-image: linear-gradient(to left, var(--cor3), var(--cor0));
    font-size: 1.8em;
    font-weight: normal;
}
main p{
    font-family: var(--font-padrão);
    text-align: justify;
    text-indent: 30px;
    margin: 15px 0px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor3);
    font-weight: bold;
}
main img{
    width: 100%;
}
main a{
    background-color: var(--cor1);
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
    
}
main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}
main img.pequena{
    max-width: 300px;
    margin: auto;
    display: block;
}
div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 55.7%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor0);
    border-radius: 10px;
    box-shadow: 3px 3px 7px  rgba(0, 0, 0, 0.281);
    padding: 5px; 
}
aside > h3{
    color: white;
    font-family: var(--font-padrão);
    background-color: var(--cor4);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: -5px -5px -5px;
    padding: 5px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}